<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <ul>
        <% @runs.each do |run| %>
          <%= link_to run_path(run) do %>
            <li><%= run.name %> - <%= run.area.name %> - <%= run.area.resort.name %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
